<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Order Details</title>
</head>
<body>
  <h1>User Order Details</h1>

  <p>Order ID: {{userOrder.order_id}}</p>
  <p>User ID: {{userOrder.user._id}}</p>
  <p>Product ID: {{userOrder.product._id}}</p>
  <p>User Address ID: {{userOrder.userAddress._id}}</p>
    
  <p>Created At: {{userOrder.createdAt}}</p>

  <!-- Add more fields as needed -->

</body>
</html>
